@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* INIZIO HEADER */

/* INIZIO NAVBAR */

.logo_sardegna {
  width: 60%;
}

.zona-bottoni {
  button {
    background-color: transparent;
    border: none;
    font-weight: 500;
    color: #f1efec;
  }
}

/* INIZIO MODALE LOGIN */
.modal-login {
  .modal-header {
    border: none;
    padding-inline: 25px;
  }
  input {
    border-radius: 2px;
  }
  .register-button-login-modal {
    border: none;
    color: #1c4175;
    background-color: transparent;
    text-decoration: underline;
  }
  .login-button-on-modal {
    background-color: #1c4175;
    border: none;
    border-radius: 2px;
  }
}

/* FINE MODALE LOGIN*/

.dropdown-profile-user {
  .dropdown-menu.show {
    border-radius: 2px;
    border: none;
    padding: 20px 20px 5px 20px;
    background-color: #f1efec;
  }
  .trigger-dropdown {
    background-color: #1c4175;
    border-radius: 2px;
    border: none;
  }
  .btn.show.trigger-dropdown {
    background-color: #1c4175 !important;
  }
  .trigger-dropdown:active {
    background-color: #2a5da4 !important;
    border-radius: 2px;
    border: none;
  }
  .trigger-dropdown:hover {
    background-color: #2a5da4;
    border-radius: 2px;
    border: none;
  }
  span.dropdown-profile-label {
    font-weight: 500;
    font-size: 0.95em;
  }
  .dropdown-item:active,
  .dropdown-item:hover {
    color: #212529;
    background-color: #dcdbd9;
  }
  .icon-user-dropdown {
    font-size: 1.3em;
  }
}

/* FINE NAVBAR */

/* INIZIO NAVBAR-LOGGATO */

.button-your-reservation {
  background-color: #d55b3b;
  border: none;
  border-radius: 2px;
}
.button-your-reservation:hover {
  background-color: #a0452e;
}
.button-username {
  background-color: #1c4175 !important;
  border: none;
  border-radius: 2px;
}
.button-username:hover {
  background-color: #2a5da4 !important;
}

.modal-reservation {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #eeeeee;
  position: relative;
  p {
    margin-bottom: 5px;
    text-align: center;
  }
  .btn-delete-reservation {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #d55b3b;
    cursor: pointer;
  }
}

#contained-modal-title-vcenter {
  width: 100%;
  text-align: center;
  color: #d55b3b;
}
/* FINE NAVBAR-LOGGATO */

.header-title {
  margin-inline: 15%;
  h1 {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    color: #f1efec;
  }

  h2 {
    font-weight: 300;
    color: #f1efec;
    font-size: 3vw;
  }
  .m-left {
    margin-left: 10%;
  }
  .m-right {
    margin-right: 6%;
  }
}

.main-bg {
  background-image: url(assets/bg_home.avif);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  select,
  input {
    border: none;
    border-radius: 2px;
    /* max-width: 80%;
    margin: auto; */
  }
  select:focus,
  input:focus {
    box-shadow: none;
  }
  .btn-reserve {
    border-radius: 2px;
    background-color: #f4a000;
    border: none;
  }
  .btn-reserve:hover {
    background-color: #c18921;
  }
}

/* FINE HEADER */

/* INIZIO MAIN */
.main-section {
  background-color: #f9edeb;

  /* INIZIO CARD MAIN */
  .card {
    border: none;
    margin-bottom: 40px;
    position: relative;
    border-radius: 2px;

    .card-body {
      padding-bottom: 0;
      padding-top: 10px;
    }
    .img-card-beach {
      height: 200px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    .beach-card-title {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1em;
    }
    .lable-card {
      margin: 0;
      font-weight: 400;
      font-size: 0.95em;
      color: #7d7c7c;
    }
    .data-card {
      font-size: 0.8em;
      margin-left: 5px;
      color: #5a7ba6;
      font-weight: 600;
    }
    .card-details-button {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #1c4175;
      border: none;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 0px;
      border-top-left-radius: 18px;
      font-size: 0.8em;
    }
  }

  /* FINE CARD MAIN */

  .filters-title {
    border-bottom: 1px solid #e4e2e2;
    padding: 10px 0;
  }
}

/* FINE MAIN */

/* INIZIO FOOTER */

.bg-footer {
  background-color: #0c1f39;

  h1 {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    color: #f1efec;
  }

  .carosello {
    max-width: 250px;
  }

  .logo_sardegna_footer {
    max-width: 250px;
  }
}

/* FINE FOOTER */

/* TOGGLE */
.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #1c4175;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}
/* FINE TOGGLE */

.swal-confirm-reservation {
  h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h6 {
    color: #c18921;
    margin-bottom: 20px;
  }
  span {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
    color: #808080;
  }
}
